<mat-sidenav-container class="container">
    <mat-sidenav #sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="0">
        <mat-nav-list class="nav-list">

            <div class="logo">
                <p> Rodoviária</p>
            </div>

            <!-- Routes -->
            <a mat-list-item routerLink="/">
                <em class="material-icons">
                    home
                </em>
                Página Inicial
            </a>
            <a mat-list-item routerLink="/motorista">
                <em class="material-icons">
                    person
                </em>
                Motorista
            </a>
            <a mat-list-item routerLink='/cobrador'>
                <em class="material-icons">
                    person
                </em>
                Cobrador
            </a>
            <a mat-list-item routerLink='/onibus'>
                <em class="material-icons">
                    analytics
                </em>
                Onibus
            </a>
            <a mat-list-item routerLink='/passagem'>
                <em class="material-icons">
                    receipt
                </em>
                passagem
            </a>

        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>