.pessoa {

    background: #fff;
    padding: 5px 5px;
    border: var(--primary) 1px dotted;
    margin: 10px 10px;
    border-radius: 5px;

    .conteudo{
      display: flex;

      img{
        width: 150px;
        height: 150px;
      }
      .dados-pessoais{
        margin-left: 20px;
        border-left: gray 5px solid;
        width: 100%;
        padding: 5px 5px 5px 15px;

        p{
          margin-bottom: 20px;
        }

        .campo{
          padding: 2px 2px;
          .bold{
            font-weight: 700;
          }
        }
        
      }
    }

    .botoes{
      display: flex;
      justify-content: flex-end;
      gap: 7px;
      .btn-icon{
        background: transparent;
        border: 1px solid var(--primary);
        color: var(--primary);
        padding: 1px 1px;
        text-transform: uppercase;
        transition: all .2s;
        

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
      }
    }
    
  }