.passagem {
    background: #fff;
    padding: 5px 5px;
    border: #000 1px dotted;
    margin: 10px 10px;
    border-radius: 5px;

    p {
        padding-bottom: 6px;
    }

    .conteudo {
        display: block;
        gap: 30px;
        padding-left: 100px;
        color: var(--escura);

        .local-hora {
            text-align: center;
            text-transform: uppercase;

        }

        .linha-horizontal {
            width: 300px;
            background-color: var(--primary);
            height: 5px;
            border-radius: 10px;
            margin-top: 15px;
        }

        .selecionar {
            position: absolute;
            margin-left: 70%;
            display: flex;
            gap: 90px;
            font-weight: 700;

            em {
                padding-left: auto;
            }
        }

        .infos {
            .info-botao {
                padding-top: 10px;

                button {
                    background: var(--primary);
                    border: none;
                    color: #fff;
                    padding: 10px 15px;
                    text-transform: uppercase;
                    transition: all .2s;

                    &:hover {
                        opacity: 0.8;
                        cursor: pointer;
                    }
                }

            }

            span {
                color: #000;
                font-weight: 700;
            }

            .info-conteudo {
                border: #000 1px dotted;
                margin: 5px 5px;
                display: flex;

                &:hover {
                    background: rgb(228, 227, 227);
                    cursor: pointer;
                }

                img {
                    width: 50px;
                    height: 50px;
                    padding: 5px;
                }

                .nome-sobrenome {
                    color: #000;
                    padding-top: 10px;
                    padding-left: 15px;
                }

                .item {
                    display: flex;

                }

                .block {
                    margin: 0px 50px;

                    .info-passagem {
                        text-align: center;
                        color: #000;
                    }
                }

            }
        }


    }
}