<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Bem Vindos!
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Aplicação de um Sistema De rodoviária para cadastrar motoristas e cobradores, além de onibus e passagens. Os
        motoristas e cobradores
        podem ser vinculados aos onibus. As passagens podem ser criadas e vinculadas aos passageiros na hora da compra
        gerando um qrcode com as
        informações da viagem.
    </mat-card-subtitle>

    <mat-card-subtitle class="subtitle">
        Aplicação desenvolvida por: <strong>Romenildo Ferreira</strong>
    </mat-card-subtitle>
    
</mat-card>