<div class="passagem">

    <div class="conteudo">
        <button type="button" class="btn-icon" (click)="remover()"><em class="material-icons">delete</em>
        </button>
        <div class="local-hora">
            <p> {{passagem?.destinoSaida}}</p>
            <p> {{passagem?.horarioSaida}}</p>
        </div>

        <div class="linha-horizontal"></div>

        <div class="local-hora">
            <p> {{passagem?.destinoChegada}}</p>
            <p> {{passagem?.horarioChegada}}</p>
        </div>

        <div class="selecionar">
            <div class="preco">
                <label for="preco">Preço: </label>
                <label for="preco">R$ {{passagem?.precoPassagem}}</label>
            </div>

            <em class="material-icons" (click)="cadastrarPassageiro()">
                arrow_forward_ios
            </em>
        </div>

    </div>

</div>