.passagem {
    background: #fff;
    padding: 5px 5px;
    border: #000 1px dotted;
    margin: 10px 10px;
    border-radius: 5px;

    &:hover {
        background: rgb(240, 239, 239);
        cursor: pointer;
    }

    p {
        padding-bottom: 6px;
    }

    .conteudo {
        display: flex;
        gap: 30px;
        padding-left: 100px;
        color: var(--escura);
        padding-top: 12px;

        .btn-icon {
            background: transparent;
            border: 1px solid var(--primary);
            color: var(--primary);
            padding: 0px 1px;
            text-transform: uppercase;
            transition: all .2s;
            position: absolute;
            left: 60px;
            margin-top: 5px;

            &:hover {
                opacity: 0.8;
                cursor: pointer;
            }
        }

        .local-hora {
            text-align: center;
            text-transform: uppercase;

        }

        .linha-horizontal {
            width: 300px;
            background-color: var(--primary);
            height: 5px;
            border-radius: 10px;
            margin-top: 15px;
        }

        .selecionar {
            position: absolute;
            margin-left: 70%;
            display: flex;
            gap: 90px;
            font-weight: 700;

            em {
                position: fixed;
                margin-top: 6px;
                margin-left: 140px;

                &:hover {
                    color: blue;
                    cursor: pointer;
                }
            }

        }


    }
}