<div class="pessoas">
  <app-pessoa
   [tipoPessoa]="tipoPessoa"
    *ngFor="let pessoa of pessoas"
     [pessoa]="pessoa"
      (onEdit)="handleEdit($event)">
  </app-pessoa>

  <div class="vazio" *ngIf="pessoas?.length == 0">
    <h2>Lista Vazia</h2>
  </div>

  <app-modal id="modalCobradorEdit" style="display: none;">
    <app-edit-cobrador [cobrador]="pessoaEdit"></app-edit-cobrador>
  </app-modal>

  <app-modal id="modalMotoristaEdit" style="display: none;">
    <app-edit-motorista [motorista]="pessoaEdit"></app-edit-motorista>
  </app-modal>

</div>