.container {
  margin-top: 10px;
  margin-left: 30px;

  .campos {
    display: flex;
    gap: 30px;
  }

  .campo {
    margin-bottom: 5px;

    label,
    input {
      display: block;
    }

    label {
      font-size: 12px;
      text-transform: uppercase;
      margin-bottom: 5px;
    }

    input {
      width: 100%;
      font-size: 24px;
    }

    p {
      color: red;
      font-size: 12px;
      padding-left: 5px;
    }

    #preco {
      width: 80px;
    }

  }
  .acoes {
    margin-left: 80%;
  }

}