<mat-card class="home mat-elevation-z3">

    <div class="conteudo">
        <div class="titulo">
            <span>Cobradores</span>
        </div>

        <div class="filtros">
            <div class="campo">
                <label for="id">Id:</label>
                <input type="text">
            </div>
            <div class="campo">
                <label for="nome">Nome:</label>
                <input type="text">
            </div>
        </div>

        <div class="botoes">
            <button type="button" class="btn-filtro">Filtrar</button>
            <button type="button" class="btn-cadastro" (click)="modal.toggle()">Cadastrar</button>
        </div>
        <p>quant: {{cobradores.length}}</p>

    </div>


    <app-lista-pessoas class="lista-pessoas" [pessoas]="cobradores" tipo = "cobrador"></app-lista-pessoas>

</mat-card>

<app-modal #modal>
    <app-cad-cobrador></app-cad-cobrador>

</app-modal>